
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/respond.js"></script>
    
</head>
<body>
    <div>
        <input type="text" id="message" />
        <input type="button" id="sendBtn" value="send" />
        <input type="hidden" id="displayName" />
        <ul id="discussion"></ul>
    </div>

    <script src="~/Scripts/jquery.signalR-1.2.2.js"></script>
    @*<script src="~/SignalR/Hubs"></script>*@
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var chat = $.connection.chat;
            chat.client.addNewMessageToPage = function (name, message) {
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + name
                    + '</strong>: ' + message + '</li>');
            };
            // Get the user name and store it to prepend to messages.
            $('#displayName').val(prompt('Enter your name:', ''));
            // Set initial focus to message input box.
            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendBtn').click(function () {
                    var name = $('#displayName').val(),
                        msg = $('#message').val();
                    // Call the Send method on the hub.
                    chat.server.send(name, msg);
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });
    </script>
</body>
</html>
